# Copier vers .env et ajuster (ne pas committer .env avec de vrais secrets).

APP_ENV=dev
APP_SECRET=change_this_to_a_random_32_chars_secret_key

POSTGRES_DB=mini_soc
POSTGRES_USER=minisoc
POSTGRES_PASSWORD=changeme

# Connexion Doctrine (PostgreSQL dans Docker)
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?serverVersion=15&charset=utf8"

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=

# Optionnel — enrichissement IP (sans clé, fallback neutre en dev)
ABUSEIPDB_API_KEY=

REDIS_URL=redis://redis:6379

MESSENGER_TRANSPORT_DSN=redis://redis:6379/messages
